[Container]
ContainerName=harbor-registryctl
Pod=harbor.pod
Image=goharbor/harbor-registryctl:v2.13.0
DropCapability=ALL
AddCapability=CHOWN SETGID SETUID
EnvironmentFile=harbor-registryctl.env
Network=harbor.network
Volume=/data/registry:/storage:z
Volume=/home/harbor/harbor-rootless/harbor-registry/:/etc/registry/:z
Volume=/home/harbor/harbor-rootless/harbor-registryctl/config.yml:/etc/registryctl/config.yml:z
Volume=/home/harbor/harbor-rootless/trust-certificates:/harbor_cust_cert:z

[Service]
Restart=always
