[Unit]
Requires=harbor-core.service
After=harbor-core.service

[Container]
ContainerName=harbor-jobservice
Pod=harbor.pod
Image=docker.io/goharbor/harbor-jobservice:v2.13.0
DropCapability=ALL
AddCapability=CHOWN SETGID SETUID
EnvironmentFile=harbor-jobservice.env
Network=harbor.network
Volume=/var/lib/harbor/data/job_logs:/var/log/jobs:z
Volume=/etc/harbor/harbor-rootless/harbor-jobservice/config.yml:/etc/jobservice/config.yml:z
Volume=/etc/harbor/harbor-rootless/trust-certificates:/harbor_cust_cert:z

[Service]
Restart=always
