[Container]
ContainerName=harbor-redis
Pod=harbor.pod
Image=goharbor/redis-photon:v2.13.0
DropCapability=ALL
AddCapability=CHOWN SETGID SETUID
Network=harbor.network
Volume=/data/redis:/var/lib/redis,Z

[Service]
Restart=always
