[Unit]
Requires=harbor-registry.service harbor-core.service harbor-portal.service
After=harbor-registry.service harbor-core.service harbor-portal.service

[Container]
ContainerName=harbor-proxy
Pod=harbor.pod
Image=docker.io/goharbor/nginx-photon:v2.13.0
DropCapability=ALL
AddCapability=CHOWN SETGID SETUID NET_BIND_SERVICE
Network=harbor.network
PublishPort=80:8080
PublishPort=443:8443
Volume=/var/lib/harbor/data/secret/cert:/etc/cert:z
Volume=/etc/harbor/harbor-rootless/harbor-proxy:/etc/nginx:z
Volume=/etc/harbor/harbor-rootless/trust-certificates:/harbor_cust_cert:z

[Service]
Restart=always
